.fruits{
    border: 2px solid blue;
    color: white;
    background-color: red;
    text-align: center;
    padding: 15px;
    margin: 18px;
}
.cars{
    background-color: purple;
    padding: 15px;
    margin: 18px;
    text-align: center;
}
#COUNTRIES{
    border: 2px solid blue;
    color: white;
    background-color: red;
    text-align: center;
    padding: 15px;
    margin: 18px;

}
#AUSTRALIA{
    border: 2px solid blue;
    color: white;
    background-color: blue;
    text-align: center;
    padding: 15px;
    margin: 18px;
}
#korea{
    border: 2px solid blue;
    color: white;
    background-color: purple;
    text-align: center;
    padding: 15px;
    margin: 18px;

}



